/* borrowed css from Daler so layout is uniform */
.card-politics {
  background: url(https://media2.govtech.com/images/940*714/shutterstock-Trump-vs-Clinton.jpg)
    100% fixed;
  background-repeat: no-repeat;
  background-color: blue;
  background-size: 1012px 900px;
  margin: 0;
  padding: 0;
  border: 0;
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 12px;
}

.card-disability {
  background: url(https://www.ilo.org/infostories/getmedia/740301f6-5213-422b-89dd-f325b3daac2e/disability-social-share.jpg?v=1)
    100% fixed;
  background-repeat: no-repeat;
  background-color: blueviolet;
  background-size: 1012px 900px;
  margin: 0;
  padding: 0;
  border: 0;
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 12px;
}

.container-jiaxi {
  background-color: white;
  padding: 30px 20px;
  height: auto;
}
